{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
    <hr />
    <h2 class="text-center">Message</h2>
    <blockquote class="blockquote">{{query}}<blockquote>
{% endblock %}

{% block content %}
    <h2 class="text-center">Result</h2>
    <div class="text-center">
        <h3>
        {% for category, classification in classification_result.items() %}
            {% if classification == 1 %}
            <span class="badge badge-danger">{{category.replace('_', ' ').title()}}</span>
          	<span>{{ classification_ok }}</span>
            {% endif %}
        {% endfor %}
        </h3>
        {% if classification_count == 0 %}
            <span>No classification found!</span>
        {% endif %}
    </div>
{% endblock %}
