<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Disasters</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Disaster Response Project</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link" href="https://www.udacity.com/">Made with Udacity</a></li>
            <li class="nav-item"><a class="nav-link" href="https://github.com/">Contact</a></li>
        </ul>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Disaster Response Project</h1>
        <p class="text-center">Analyzing message data for disaster response</p>
        <hr />

        <div class="row">
            <div class="col">
                <form action="/go" method="get">
                    <input type="text" class="form-control form-control-lg" name="query" placeholder="Enter a message to classify">
                  <br>
                    <div>
                        <button type="submit" class="btn btn-block btn-lg btn-success">Classify Message</button>
                    </div>
                </form>
            </div>
        </div>

        {% block message %}
        {% endblock %}
    </div>
</div>

<div class="container">
    {% block content %}
      <div class="page-header">
        <h2 class="text-center">Overview of Training Dataset</h2>
      </div>
    {% endblock %}

    {% for id in ids %}
      <div id="{{id}}"></div>
    {% endfor %}
</div>

<script type="text/javascript">
    const graphs = {{graphJSON | safe}};
    const ids = {{ids | safe}};
    for(let i in graphs) {
        Plotly.plot(ids[i], graphs[i].data, graphs[i].layout);
    }
</script>

</body>
</html>
